configuration: Release

version: '0.4.2.{build}'

platform:
  - x86

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"	
  assembly_informational_version: "{version}"

install:
- ps: >-
    (new-object net.webclient).DownloadFile('https://ci.appveyor.com/api/buildjobs/tojql4tt0xu7orxa/artifacts/MikTex.2.9.2.9711.msi', 'C:\\MikTex.2.9.2.9711.msi')

    Start-Process C:\Windows\System32\msiexec.exe -ArgumentList /i, C:\MikTex.2.9.2.9711.msi, /quiet, /qn, /norestart, /log, C:\install.log -Wait

cache:
  - packages -> **\packages.config  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified

before_build:
  - nuget restore

build:
  project: ConsoleApp.sln 
  verbosity: minimal

after_test:
  - ps: ./*/TestApp/bin/*/TestApp.exe these are arguments
  - ps: Test-Path -Path "HKEY_LOCAL_MACHINE:\SOFTWARE\BTS Products\MikTEX"
  - ps: Test-Path -Path "HKLM:\SOFTWARE\BTS Products\MikTEX"

nuget:
  account_feed: true

test:
  categories:
    except:
      - Bug