<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SBSuite.DevExpress" version="1.0.2" targetFramework="net452" />
  <package id="SBSuite.TestPackages.Package1.1" version="1.1.8" targetFramework="net452" />
  <package id="SBSuite.TestPackages.Package1.2" version="1.2.6" targetFramework="net452" />
  <package id="SBSuite.TestPackages.Package1.3" version="1.2.6" targetFramework="net452" />
  <package id="SBSuite.TestPackages.Package2.1" version="1.5.20" targetFramework="net452" />
  <package id="SBSuite.TestPackages.Package3.1" version="1.2.50" targetFramework="net452" />
</packages>